*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
}
/* .cajafondo
    display: flex;
    border-style: solid;
    border-width: 1px;
    height:10rem;
    background-color: rgb(21, 177, 204);
    justify-content: center;
    align-items: center;
} */
h1{
    text-align: center;
}
a{
    height: 10rem;
    width: 100%;

}
h4{
    font-family: 'Gloria Hallelujah', cursive;
}
.homero1{
    width: 8rem;
}
a:hover{
    color: purple !important;
}